@import "tailwindcss";

/* custome color and styles */

:root {
    --coffee-yellow: #f4c542;
    --coffee-brown: #3e2723;

}

/* custome utility class */

.text-coffeeYellow{
    color:var(--coffee-yellow);

}
.bg-coffeeYellow {
  background-color:var(--coffee-yellow);
}
.text-coffeeBrown {
    color:var(--coffee-brown);

}
.bg-coffeeBrown {
    background-color: var(--coffee-brown);

}

.hover\:text-coffeeBrown:hover {
    color:var(--coffee-brown);

}
.hover\:bg-coffeeBrown:hover  {
  background-color:var(--coffee-brown);
}


/* Font styles  */

.logo-font {
    font-family: 'Pacifico' , cursive;
}

@keyframes slideIn {
    from{
        transform: translateX(-100%);
    }
    to{
     transform: translateX(0%);
    }
}
.animate-slideIn{
    animation: slideIn 0.3s ease-out forwards;

}

*{
    box-sizing: border-box;

}

html ,body {
    margin: 0;
    padding: 0;
    overflow-X: hidden;
    width: 100%;


}
body{
    font-family: 'Helvetica Neue' , Arial,  sans-serif;
    background-color: #ffffff;
    color : #333333;
    line-height: 1.6;
}